<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Dischi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="root">
      <header>
        <select v-model="typeMusic" id="genre_music">
          <option  value="all">tutti i generi</option>
          <option  v-for="disc in library"  :value="disc.genre">{{disc.genre}}</option>
        </select>
      </header>
      <div v-if= "disc.genre==typeMusic || typeMusic=='all'" v-for="disc in library" class="box_disc">
        <img class="cover" :src="disc.poster" alt="">
        <ul>
          <li>{{disc.title}}</li>
          <li>{{disc.author}}</li>
          <li>{{disc.year}}</li>
        </ul>
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
